{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    }
  },
  "globals": {
    "h": true
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-unused-vars": [0, { "varsIgnorePattern": "^h$" }],
    "import/no-unresolved": [
      2, {
        "ignore": [
          "^styles$",
          "^components/"
        ]
      }
    ]
  }
}
