.square-grid {
    background-color: var(--primary-color-1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;

    & .square-grid-path {
        stroke: var(--light-white);
        stroke-width: 0.01;

        &.square-grid-path-current-minute {
            fill: url(#Progress);
        }

        &.square-grid-path-available-minute {
            fill: none;
        }

        &.square-grid-path-passed-minute {
            fill: var(--primary-color-2);
        }
    }

    & .square-path-gradient-passed {
        stop-color: var(--primary-color-2);
    }

    & .square-path-gradient-available {
        stop-color: transparent;
    }

    & .square-grid-square {
        flex: 1 1 auto;
        height: 5px;
        width: 5px;
    }
}
