.language-selector {
    margin: 1rem;

    & > span {
        cursor: pointer;
    }

    & :not(:first-child) {
        margin-left: 0.5rem;

        & :before {
            margin-right: 0.5rem;
            content: '|'
        }
    }
}
