<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" href="/minutes/images/M192.png" sizes="192x192">
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.manifestFile %>">
    <script>
      var host = "byoigres.com";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
    </script>
  </head>
  <body>
  </body>
</html>
